@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@theme {
  --bg-primary: #161925;
  --bg-secondary: #1c1e25;
  --blue-primary: #0e78f9;
}
@utility bg-blue-1 {
  background-color: var(--blue-primary);
}
@utility bg-2 {
  background-color: var(--bg-primary);
}
@utility bg-1 {
  background-color: var(--bg-secondary);
}

